.form-signin {
  display: flex;
  align-items: center;
}

/* Animação de background */
.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-20deg, rgb(87, 140, 255) 50%, rgb(101, 171, 236) 50%);
  bottom: 0;
  left: -100%;
  opacity: .5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(25%);
  }
}

#divContent {
  background-image: url("../../assets/img/bg-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}