.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.btn-toggle::after {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"]::after {
  transform: rotate(450deg);
}

.btn-toggle:hover {
  color: rgba(0, 0, 0, .85);
  background-color: #8dc4f1;
}

.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #acacac;
}

.header_toggle, .icon_action {
  cursor: pointer;
}

@media (max-width: 767px) {
  #sidebarToggle {
    display: none;
  }
}

@media (min-width: 768px) {
  #bt-togglevertical {
    display: none;
  }
}

@media screen {
  body #sidebarMenu {
    margin-left: 0;
    transition: width 0.25s ease-out;
  }

  body.sidebar-hidden #sidebarMenu {
    width: 0;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    transition: width 0.25s ease-out;
  }
}

@media screen and (max-width: 767px) {
  body #sidebarMenu {
    transition: 0.25s ease-out;
  }
}