/* ::-webkit-scrollbar {
  width: 10%;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
} */